@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
body {
    background-color: #38104B;
    font-family: Creepster;
    font-size: 5vmin;
    color: lightcoral;
    max-height: 100vh;
    margin: 0px;
}
h1 {
    font-size: 10vmin;
}
a {
    color: coral;
}
.centered {
    text-align: center;
}
ul {
    list-style: none;
}
footer {
    margin-top: auto;
}
#hud-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#history-box {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
#option-selector {

}
img {

}
#inventory-display {
    
}