@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
body {
    background-color: #38104B;
    font-family: Creepster;
    font-size: 5vmin;
    color: lightcoral;
    max-height: 100vh;
    margin: 0px;
}
h1 {
    font-size: 10vmin;
}
a {
    color: coral;
}
.centered {
    text-align: center;
}
ul {
    list-style: none;
}
footer {
    margin-top: auto;
}
#hud-grid {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    height: 90vmin;
}
#history-box {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 5%
}
#option-selector {
    background-color: darkslategrey;
}
img#scene {
    height: 40%;
}
#inventory-display {
    background-color: darkslategray;
    height: 40%
}